.contentLower, .divMainHolder, .contentUpperRight
{
    direction: ltr;
}
.contentLower h3
{
    text-align: left;
}
.contentlower div
{
    padding-right: 4px;
    padding-left: 4px;
}
.thedescription124
{
    padding-top: 4px;
}